.login-register-container {
	background-color: white;
}

.login-button {
	width: 100%;
}

.option p {
	margin-top: 30px;
}

.item-list-container {
	margin-top: 30px;
}

#login-link {
	color: blue;
	margin-bottom: 20px;
}

#login-link:hover {
	cursor: pointer;
	text-decoration: underline;
}
