
.comment-container {
	border: 2px solid black;
	justify-content: center;
}

#comment-form {
	height: 130px;
}

#comment-list-container {
	margin-top: 30px;
	margin-bottom: 20px;
	border: 5px solid rgb(95, 108, 10);
	border-radius: 20px;
	overflow: scroll;
	height: 300px;
	width: 450px;
}


#show-page-image {
	border: 5px solid gray;
	border-radius: 20px;
}

#map {
	border: 5px solid green;
	border-radius: 10px;
}

#item-name {
	text-align: center;
}

#item-name h1 {
	font-size: 60px;
	text-transform: capitalize;
}

.addres-container p {
	text-transform: capitalize;
}