.item {
	color: green;
}

#user-profile-info h1 {
	font-size: 50px;
}

#profile-image {
	border: 5px solid black;
	border-radius: 10px;
}

#cancel-accont-update {
	margin-top: 20px;
	margin-bottom: 5px;
}

#user-name {
	text-transform: capitalize;
}