body {
	background-color: white;
}

.nav-container2 {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.nav p {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
}


#search {
	width: 600px;
	margin: 1em;
	border-radius: 50px;
}

.search:hover {
	cursor: pointer;
	color: dimgray;
}

.nav-header {
	background-color: rgb(95, 158, 160);
	border-bottom: 1px solid black;
}

.user-name-link {
	position: absolute;
	color: black;
	top: 7px;
	right: 5px;
}

#freestuff-logo {
	margin: 1em;
}

#login-logo:hover {
	cursor: pointer;
	color: dimgray;
}




