body {
	background-color: white;
}

.nav-container2 {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.nav p {
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	font-size: 18px;
}

.nav p:hover {
	cursor: pointer;
	text-shadow: 3px 2px 20px #0d6b82;
	color: darkblue;
}


#search {
	width: 30em;
	margin: 1em;
	border-radius: 50px;

}

#search-icon:hover {
	cursor: pointer;
	color: dimgray;
}

.nav-header {
	background-color: rgb(95, 158, 160);
	border-bottom: 1px solid black;
}

.user-name-link {
	position: absolute;
	color: black;
	top: 25px;
	right: 1.7em;
}

.login-register-rendered {
	margin-left: 3em;
	margin-right: 3em;
}

#free-stuff-logo {
	font-size: 50px;
}

#free-stuff-logo:hover {
	cursor: pointer;
}

#login-logo:hover {
	cursor: pointer;
	color: darkblue;
}

#login-logo-container #login-logo {
	text-align: center;
	align-self: center;
	margin-right: 5px;
}

#login-logo-container {
	height: 25px;
	width: 110px;
}



